html {
  font-size: 62.5%;
}
p {
  font-size: 2rem;
}
h1 {
  text-align: center;
}

body {
  margin-left: 20px;
}

.form-label,
.form-label + span {
  font-size: 1.5rem;
  font-weight: 400;
}

.range {
  width: 400px;
}

#result {
  font-size: 2rem;
}
