.boxes {
  border: 3px solid lightgray;
  width: 50vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.box {
  width: 5rem;
  height: 5rem;
  background-color: tomato;
  margin: 1px;
  flex-shrink: 1;
}

.box-one {
  align-self: flex-start;
}

.box-three {
  align-self: flex-end;
}
