body {
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #212432;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input {
  width: 30px;
  text-align: center;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
}

h2 {
  margin-top: 0;
}

.main {
  display: flex;
  flex-direction: column;
  height: 1100px;
}
.container {
  background-color: #ffffff;
}
.radio {
  font-weight: 700;
}

.bmi-container {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 500px;
  border: 1px solid lightgrey;
  border-radius: 7px;
}

.body-fat-container {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 500px;
  border: 1px solid lightgrey;
  border-radius: 7px;
}

.bmi-header {
  height: 15%;
  text-transform: uppercase;
  color: #ddd;
  background: #212432;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.bmi-body-us {
  height: 60%;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}
.one {
  margin: 8px;
}
.bmi-cat {
  margin-top: 24px;
  margin-left: 8px;
}
.result-bmi {
  height: 25%;
  color: #ddd;
  background: #212432;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.bf-header {
  height: 15%;
  text-transform: uppercase;
  color: #ddd;
  background: #212432;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.bf-body-us {
  height: 60%;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

.bf-inputs {
  display: flex;
}

.two {
  width: 45px;
}

.result-bf {
  height: 25%;
  color: #ddd;
  background: #212432;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

#form-bmi div:first-of-type {
  margin: 8px;
}

#form-bf div:first-of-type {
  margin: 8px;
}

@media screen and (max-width: 300px) {
  .bmi-container {
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    height: 500px;
  }

  .body-fat-container {
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    height: 500px;
  }
}

@media screen and (min-width: 420px) and (max-width: 669px) {
  .side-container {
    width: 10%;
    height: 100vh;
    background-color: beige;
  }

  .container {
    width: 80%;
  }

  .bmi-container {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 500px;
  }

  .body-fat-container {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 500px;
  }
}

@media screen and (min-width: 670px) and (max-width: 759px) {
  .side-container {
    width: 5%;
    height: 100vh;
    background-color: beige;
  }

  .container {
    width: 90%;
  }
  .main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 700px;
  }
  .bmi-container {
    margin-left: 20px;
    /* margin-right: auto; */
    width: 300px;
    height: 500px;
  }

  .body-fat-container {
    margin-left: 20px;
    /* margin-right: auto; */
    width: 300px;
    height: 500px;
  }
}

@media screen and (min-width: 760px) {
  .side-container {
    width: 10%;
    height: 900px;
    background-color: beige;
  }

  .container {
    width: 80%;
  }
  .main {
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    height: 700px;
  }
  .bmi-container {
    margin: 0;
    margin-top: 30px;
    margin-left: 20px;
    width: 300px;
    height: 500px;
  }

  .body-fat-container {
    margin: 0;
    margin-top: 30px;
    margin-left: 20px;
    width: 300px;
    height: 500px;
  }
}
