.container {
  display: inline-flex;
  width: 200px;
  height: 200px;
}

#box1 {
  width: 100px;
  height: 100px;
  background-color: blue;
}

#box2 {
  width: 100px;
  height: 100px;
  position: relative;
  float: right;
  background-color: yellow;
}
